<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>
</head>
<body>
<%- include("../partials/header") %>

<div class="products-page-container">
  <% if (products.length === 0) { %>
    <p class="no-products">No products found.</p>
  <% } else { %>
    <div class="products-grid">
      <% products.forEach(product => { %>
        <a href="/products/<%= product._id %>" class="product-card">
          <div class="product-image-wrapper">
            <img src="<%= product.imageUrl %>" alt="<%= product.name %>" />
          </div>
          <div class="product-info">
            <h3 class="product-name text-decoration-none"><%= product.name %></h3>
            <p class="product-price"><%= product.price %> BHD</p>
            </div>
        </a>
      <% }) %>
    </div>
  <% } %>
</div>
</body>
</html>
