<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/style.css">
<title><%= product.name %></title>
</head>

<body>
<%- include("../partials/header") %>

<div class="product-details-container">
<div class="product-details-card">
<div class="product-details-image">
<img src="<%= product.imageUrl %>" alt="<%= product.name %>">
</div>
<div class="product-details-info">
<h1 class="product-title">
<%= product.name %>
</h1>
<p class="product-description">
<%= product.description %>
</p>
<div class="product-price">
BHD <%= product.price %>
</div>
<form action="/cart/add" method="POST">
<input type="hidden" name="productId" value="<%= product._id %>">
<div class="product-actions">
<div class="qty-box">
<button type="button" onclick="decQty()">-</button>
<input id="qty" type="text" name="qty" value="1" readonly>
<button type="button" onclick="incQty()">+</button>
</div>
<button class="add-cart-btn" type="submit">
Add Cart
</button>
</div>
</form>
</div>
</div>
</div>

<script>
function incQty(){
const qtyInput = document.getElementById("qty")
qtyInput.value = Number(qtyInput.value) + 1
}
function decQty(){
const qtyInput = document.getElementById("qty")
const currentValue = Number(qtyInput.value)
if(currentValue > 1){
qtyInput.value = currentValue - 1
}
}
</script>
<div class="reviews-section">

<h2>Reviews</h2>
<% if(user){ %>
<form action="/reviews/<%= product._id %>" method="POST">

<label>Rating</label>
<select name="rating" required>
<option value="5">5 ⭐</option>
<option value="4">4 ⭐</option>
<option value="3">3 ⭐</option>
<option value="2">2 ⭐</option>
<option value="1">1 ⭐</option>
</select>

<textarea name="comment" placeholder="Write your comment" required></textarea>
<button type="submit">Submit</button>
</form>
<% } else { %>
<p>Please <a href="/auth/sign-in">sign in</a></p>
<% } %>
</div>
<div class="reviews-list">
<% if(reviews.length === 0){ %>
<p>No reviews.</p>
<% } %>
<% reviews.forEach(review => { %>
<div class="review-card">
<h4><%= review.userId.username %></h4>
<p>Rating: <%= review.rating %> ⭐</p>
<p><%= review.comment %></p>
</div>
<% }) %>
</div>

<%- include("../partials/footer.ejs") %>
</body>
</html>
